= form_with model:@address, url: users_new_address_path, method: :get, local: true do |f|
  .block.horizontal-padding-25
    .block__menu
      電話番号の確認
  .block.horizontal-padding-25
    .input-field
      .input-field-main
        %label
          携帯電話の番号
        %br
        = f.text_field :cellphone_number, placeholder: "携帯電話の番号を入力", class: "phone-main__box__registration__content__form__phone-number"
        - @address.errors.full_messages_for(:cellphone_number).any?
        .errors_messages
        =  render partial: 'error_address', locals: { address: @address, column: "cellphone_number"}
    .information
      %p.information__text
        本人確認のため、携帯電話のSMS（ショートメッセージサービス）を利用して認証を行います。
    %br
      = f.submit "SMSを送信する", class: "back-red.font-white"
    .information
      .information__text
        ※電話番号は本人確認や不正利用防止の為に使用します。他のユーザーに公開されることはありません。

